body {
  margin: 0;
  padding: 0;
  min-width: 900px;
  font-size: 16px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.375;
  font-weight: 400;
  color: #323232;
}

input,
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

a {
  color:#ffffff;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  font-family: 'Roboto', Arial, sans-serif;
}

hr {
  margin: 0;
}

.site-wrapper {
  width: 100%;
  margin-bottom: 40px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-width: 900px;
  box-sizing: border-box;
}

.main-header,
.main-container,
.main-footer {
  padding: 0 2.23%;
}

.button {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%) #f26843;

  text-align: center;
  vertical-align: top;
  padding: 10px 19px;
  border-radius: 50px;
  border: none;

  display: inline-block;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(#d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.visually-hidden {
  display: none;
}

/*--------//----------//-------Modal-Pop-Up-start--------//---------//----------*/

.modal {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #999999;
  background-color: #f8f7f4;
  padding: 20px 16px 22px 20px;
  border-radius: 6px;
  box-sizing: border-box;
}

.form-field {
  font-size: 14px;
  line-height: 1.714;
  color: #999999;
  font-weight: 400;
  width: 100%;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #d3d3d2;
  padding-left: 13px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form-field:hover {
 border: 2px solid rgba(154, 154, 154, .52);
}

/*---------------------Header-Modal-Catalog-----------------------*/

.navigation-catalog {
  width: 143px;
  padding: 0 0 6px;
  border-radius: 5px;
  background-color: #f8f7f4;
}

.navigation-catalog li {
  font-size: 14px;
  line-height: 1.142;
  padding: 3px 0 0;
}

.navigation-catalog .title-catalog {
  margin: 0 6px 2px;
  padding: 11px 0 12px 14px;
  border-bottom: 1px solid #d1d0ce;
  font-weight: bold;
  color: #323232;
}

.navigation-catalog a {
  font-weight: 500;
  color: inherit;
  padding: 5px 0 8px 20px;
  display: block;
  text-decoration: none;
}

.navigation-catalog li:hover a {
  background: #fbded8;
}

/*------------------------Header-Modal-search--------------------------*/
.modal-search {
  left : -307px;
  width: 341px;
  height: 84px;
  display: block;
  box-sizing: border-box;
}

/*------------- ---------Header-Modal-login-start-------------------------*/
.modal-login {
  width: 277px;
  height: 214px;
  left: -141px;
  box-sizing: border-box;
}

.modal-login-button {
  background-color: #e84d37;
  line-height: 16px;
  border-radius: 19px;
  padding: 15px 24px 13px 23px;
  position: absolute;
  bottom: 22px;
}

.info {
  width: auto;
  margin-left: 0;
}

.info a {
  font-size: 13px;
  line-height: 22px;
  color: #323232;
  text-decoration: underline;
  position: absolute;
  right: 20px;
}

/*------------- ---------Header-Modal-cart-start-------------------------*/
.modal-cart {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  background: #f8f7f4;
  width: 510px;
  border-radius: 5px;
  padding: 19px 15px;
  display: none;
}

.modal-cart li {
  display: flex;
  padding: 10px 0px;
}

.modal-cart .cross {
  -webkit-appearance: none;
  background: url(../img/svg/cross-small.svg) 1px 1px no-repeat;
  width: 11px;
  height: 11px;
  padding-right: 25px;
}

.modal-cart-article {
  padding-right: 13px;
  border-radius: 50%;
  position: relative;
  top: -9px;
}

.modal-cart-name {
  padding-right: 27px;
  width: 220px;
}

.modal-cart-price {
  padding-right: 27px
}

.modal-cart-price .price-before {
  color: #999999;
}

.modal-cart hr {
  border: none;
  height: 1px;
  background: #cacac7;
  color: #cacac7;
  margin-top: 5px;
}

.modal-cart p {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 14px;
}

.modal-cart-submit {
  margin-left: auto;
  margin-bottom: 2px;
  padding: 9px 15px 11px 14px;
  display: block;
}

/*---------------------Footer-Modal-appointment-start-----------------*/
.modal-appointment {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: table;
  display: none;
}

.modal-wrap {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.modal-form-appointment {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #999999;
  background-color: #f8f7f4;

  width: 477px;
  min-height: 441px; 
  padding: 18px 25px 26px 24px;
  border-radius: 10px;

  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
}

.appointment-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: #323232;
  display: inline-block;
  margin-bottom: 21px;
}

.appointment-close {
  width: 20px;
  height: 20px;
  background: url("../img/svg/cross-big.svg ") 0 0 no-repeat;

  border: none;
  position: absolute;
  top: 15px;
  left: 445px;
}

.modal-form-appointment .field {
  width: 266px;
  padding: 18px 14px;
}

.modal-form-appointment .message {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  min-width: 100%;
  max-width: 100%;
  min-height: 155px;
  max-height: 250px;
  box-sizing: border-box;
  padding-top: 8px;
  margin-bottom: 21px;
}

.appointment-button {
  line-height: 20px;
  padding: 12px 24px;
  margin-left: auto;
  display: block;
  box-sizing: border-box;
}
/*--------//----------//----------Modal-Pop-Up-End-----------//---------//----------*/

/*------------------------------Header-Container-Start--------------------*/
.main-logo {
  position: absolute;
  margin-top: 9px;
}

/*----Main-navigation-start---*/
.main-navigation {
  color: #ffffff;
  display:  flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 23px;
  padding-left: 164px;
  margin-bottom: 14px;
}

.navigation-menu {
  display: flex;
  align-items: flex-start;
}

.navigation-menu > li {
  position: relative;
}

.navigation-menu > li:hover a {
  color: #323232;
}

.navigation-menu .navigation-link {
  color: inherit;
  display: block;
  padding: 7px 14px;
  border-radius: 30px;
}

.navigation-menu > li:hover .navigation-link {
  background-color: #ffffff;
}

.navigation-menu .navigation-popup {
  padding-top: 5px;
  display: none;
  position: absolute;
  right: 0;
  z-index: 100;
}

.navigation-menu > li:hover .navigation-popup  {
  display: block;
}

/*--Site-navigation-start--*/
.site-navigation {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.site-navigation .navigation-link > span {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  display: inline-block;
  line-height: 16px;
}

.site-navigation > li:hover .navigation-link > span {
  border-bottom: none;
}

.site-navigation-catalog {
  left: 0;
}

/*--User-navigation-start--*/
.user-navigation {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.user-navigation .navigation-link {
  background: rgba(255, 255, 255, .2) no-repeat;
}

.user-navigation .navigation-link.nav-search {
  width: 33px;
  height: 33px;
  padding: 0;
  background-image: url("../img/svg/loupe.svg");
  background-position: center;
  border-radius: 50%;
}

.user-navigation > li:hover .navigation-link.nav-search {
  background-image: url("../img/loupe-black.png");
}

.user-navigation .navigation-link.login-link {
  padding: 8px 15px 8px 44px;
  background-image: url("../img/svg/entrance-white.svg");
  background-position: 16px 6px;
}

.user-navigation > li:hover .navigation-link.login-link {
  background-image: url("../img/svg/entrance.svg");
}

.user-navigation .navigation-link.cart {
  padding: 8px 16px 8px 45px;
  background-image: url("../img/svg/basket.svg");
  background-position: 18px 6px;
}

.user-navigation .string-search, 
.user-navigation .string-login {
  margin-right: 10px;
}

/*----Main-navigation-End--------*/

/*--Short-contacts--*/

.short-contacts {
  font-size: 14px;
  line-height: 1.6;
  text-align: right;
  color: #ffffff;
}

.short-contacts .tel {
  font-size: 22px;
  line-height: 1.2;
}

/*----Container--slider-start-----*/

.slider {
  color: #ffffff;
  position: relative;
  text-align: center;
  margin-top: 325px;
  margin-bottom: 41px;
}

.slide-list {
  margin: 0;
  padding: 0;
}

.slide-list h3 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
}

.button-slider {
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  padding: 7px 40px 12px;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient( #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-pagenator {
  position: absolute;
  top: 168px;
  left: 0;
  bottom: 63px;
  z-index: 20;
  display: inline-block;
}

.slider-pagenator > label {
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  margin-right: 8px;
  display: inline-block;
  vertical-align: top;
}

.slider-pagenator > label:hover  {
  background: rgba( 255, 255, 255, .3);
}

.slider-pagenator > label:active  {
  background: #ffffff;
}

#page-btn1:checked ~ .site-wrapper #slide-one,
#page-btn2:checked ~ .site-wrapper #slide-twoo,
#page-btn3:checked ~ .site-wrapper #slide-three {
  display: block;
}

#page-btn1:checked ~ .site-wrapper label[for="page-btn1"],
#page-btn2:checked ~ .site-wrapper label[for="page-btn2"],
#page-btn3:checked ~ .site-wrapper label[for="page-btn3"] {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

#page-btn1:checked ~ .site-wrapper {
  background: url("../img/slider-ice-1.jpg") center top no-repeat #849d8f;
}

#page-btn2:checked ~ .site-wrapper {
  background: url("../img/slider-ice-2.jpg") center top no-repeat #8996a6;
}

#page-btn3:checked ~ .site-wrapper {
  background: url("../img/slider-ice-3.jpg") center top no-repeat #9d8b84;
}

/*----Container--slider-End----*/

/*----Main-navigation-End-----*/

/*--------------------------Header-Container-End--------------------*/

/*------------------------Main-container-start---------------------------- */

/*-----Features-start----*/
.feature-list {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.feature-item {
  width: 48.85%;
  max-width: 560px;
  height: 230px;
  border-radius: 15px;
}

.feature-item:nth-child(1) {
  background: url("../img/himbeer-background-1200.jpg") no-repeat;
}

.feature-item:nth-child(2) {
  background: url("../img/background-chocko-1200.jpg") no-repeat;
}

.feature-item > img {
  width: 100%;
  border-radius: 15px;
  position: relative;
}

.features-title {
  font-size: 35px;
  line-height: 40px;
  text-align: left;
}

.feature-description {
  padding: 16px 25px 16px 17px;
}

.feature-description > p {
  font-size: 18px;
  line-height: 22px;
  min-height: 70px;
}

.feature-description > .button {
  display: block;
  margin-left: auto;
}

/*-----Features-End---- */


/*----Article-ice-start---*/

.article-ice {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 38px;
}

.article {
  width: 267px;
  color:#ffffff;
  position: relative;
}

.article::before {
  content: "";
  width: 61px;
  height: 61px;
  background: url("../img/svg/hit.svg") 0 0 no-repeat;
  position: absolute;
}

.hover-ice {
  width: 293px;
  height: 406px;
  background-color: rgba( 255, 255, 255, .1);
  border-radius: 5px;
  position: absolute;
  top: -7px;
  left: -14px;
  display: none;
  z-index: -1;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .12);
}

.article:hover {
  z-index: 1;
}

.article:hover .hover-ice {
  display: block;
}

.modal-cover-button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 23px;
}

.ice {
  border-radius: 50%;
  width: 100%;
  height: auto;
  display: block;
}

.ice-shadow {
  overflow: hidden;
  position: relative;
}

.ice-shadow::before {
  content: "";
  box-shadow: inset 0 0px 3px rgba(0, 0, 0, .5);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius:  50%;
}

.article > .priÑe-type {
  font-size: 45px;
  line-height: 45px;
  position: absolute;
  bottom: 66px;
}

.article b::after {
  content: " ";
  width: 34px;
  height: 33px;
  left: 2px;
  right: 1px;
  bottom: 0px;
  background: url("../img/svg/ruble.svg") 0 0 no-repeat;
  position: relative;
  display: inline-block;
}

.article span {
  font-size: 30px;
}

.article h3 {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  margin-top: 13px;
}

.article h3 > a {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

/*----Article-ice-End---*/

/*---About-us-start---*/

.about-us {
  background-image: url("../img/vaffl.png");
  width1: 95%;
  margin-bottom: 40px;
  border-radius: 14px;
  padding: 24px 20px 16px;
}

.about-us h2 {
  font-family: roboto;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #323232;
  margin: 0;
  padding-bottom: 8px;
}
.blok-description {
  display: flex;
  justify-content: space-between;
}

 .blok-description > p {
  margin: 0;
  position: relative;
  padding:  14px 0 8px 54px;
  width: 43.8%;
}

.blok-description p:first-child::before {
  content: "";
  background: url("../img/svg/ice-cream.svg") no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
}

.blok-description p:nth-child(2)::before {
  content: "";
  background: url("../img/svg/cow.svg") no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  left: -2px;
  top: 0;
}

.blok-description-too p:nth-child(1)::before {
  content: "";
  background: url("../img/svg/eco.svg") no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
}

.blok-description-too p:nth-child(2)::before {
  content: "";
  background: url("../img/svg/thermometer.svg") no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  left: -2px;
  top: 0;
}

/*---About-us-End---*/

/*----News-start----*/

.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.news-blog > h3 {
  font-size: 16px;
  line-height: 22px;
  padding-top: 3px;
}

.news-blog > a {
  background: #e6ebe9 0.8;
}

.news-blog {
  width: 48.8%;
  height: 220px;
  background: url("../img/background-news.jpg") no-repeat;
  padding: 20px 19px;
  border-radius: 16px;
  box-sizing: border-box;
}

.news-blog a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-decoration: underline;
  padding-top: 3px;
  display: inline-block;
}

.news-subscribers {
  width: 48.8%;
  height: 220px;
  padding: 6px;
  background-color: grey;
  border-radius: 20px;
  box-sizing: border-box;
}

.subscribers {
  height: 100%;
  padding: 34px 20px;
  background-color: #f8f7f4;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}

.subscribers > p {
  color: #5a5a5a;
  margin-top: 0;
  line-height: 1.25;
}

.subscribers-form {
  left: 20px;
  right: 20px;
  padding-right: 140px;
  position: absolute;
  bottom: 36px;
  box-sizing: border-box;
}

.subscribers-form > input{
  font-size: 16px;
  line-height: 1.5;
}

.subscribers-email {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-left: 14px;
  box-sizing: border-box;
}

.subscribers-button {
  top: 0;
  right: 0;
  position: absolute;
}

/*----News-End----*/

/*-----------------------------Main-container-End---------------------------- */

/*---------- ------------------Footer-container-start------------------------*/

/*--Footer-map-start--*/

.footer-map {
  position: relative;
  z-index: 1;
}

.footer-map img:first-child {
  display: block;
}

.form-appointment {
  top: 50%;
  right: 27px;
  margin-top: -152px;
  font-size: 14px;
  line-height: 1.429;
  width: 300px;
  height: 305px;
  background-color: #fdfdfd;
  border-radius: 10px;
  padding: 28px 26px 31px;
  box-sizing: border-box;
  position: absolute;
}

.form-appointment b {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.335;
}

.form-appointment p {
  margin: 18px 0 22px;
  line-height: 1.715;
}

.appointment-button{
  display: block;
}

.pin {
  position: absolute;
  top: 139px;
  left: 266px;
}
/*--Footer-map-End--*/


/*--Footer-contact-start--*/

.footer-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

 /*...footer-social... */ 

.footer-social {
  position: relative;
  top: 7px;
  left: 2px;
}

 .footer-social li {
  list-style: none;
  display: inline-block;
  margin-right: 14px;
  width: 32px;
  height: 32px;
}

.footer-social a {
  font-size: 0px;
  width: 32px;
  height: 32px;
  opacity: .8;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, .625);
  vertical-align: top;
}

.footer-social .twiter {
  background: url(../img/svg/twitter.svg) no-repeat;
}

.footer-social .instogram {
  background: url(../img/svg/instagram.svg) no-repeat;
}

.footer-social .facbook {
  background: url(../img/svg/fb.svg) no-repeat;
}

.footer-social .Vk {
  background: url(../img/svg/vk.svg) no-repeat;
}

.footer-social a:hover {
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, .7);
}

.footer-social a:active {
  opacity: .82;
  border: 2px solid rgba(255, 255, 255, .85);
}

/*...footer-additional-information...*/

.footer-additional-information {
  margin-right: 21px;
}

.for-employers, .for-customers {
  display: inline-block;
}

.footer-additional-information a {
  font-size: 13px;
  line-height: 1.384;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.footer-additional-information .for-employers {
  background: url("../img/svg/heart.svg") 0 6px no-repeat;
  padding-left: 22px;
  display: inline-block;
  margin-right: 28px;
}

/*...footer-copyright...*/

.copyright {
  display: inline-block;
  position: relative;
  top: -15px;
  left: 2px;
}

.copyright img {
  position: relative;
  top: 3px;
}

.copyright > p {
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff; 
  margin: 0px;
}

.copyright .siteacademy {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

/*----Footer-contact-End----*/

.footer-contact a.link:hover,
.footer-contact a.link:active {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}
